.directorybutton{
    background-color: #fecdd3;
    color: #E11D48;
    margin-left: 80%;
    padding: 2%;
    border-radius: 3px;
    width: max-content;
    }
    
    .outerborder{
        height: 150%;
        width: 40%;
    }
    .outerborder.list {
        height: 10%;
        width: 100%;
    }
    .outerborder.list .directorybutton{
       
        margin-left: 92%;
        height: 8%;
    }
    .card.dark-mode{
        background-color: rgb(28, 28, 28);
    }
    #completed{
        border-radius: 15px;
    }
   
.btn-light-red {
    background-color: #f75454; 
    color: #ffffff;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition over 0.3 seconds */
  }
  
  .btn-light-red:hover {
    background-color: #ff9999; 
    color: #c9302c; 
  }
.fa {
    cursor: pointer;
  }
.clickable {
    cursor: pointer;
  }