.nav-item{
    font-size: 1.2rem;
    font-style: bold;
    
    
}
.nav-item:hover{
    font-size: 1.3rem;
    background-color: #d3ccf4;
    color: black;
    border-right: solid 5px;
    border-color: brown;
    width: 100%;
}

.active {
    font-size: 1.4rem;
    background-color: #EDE9FE;
    color: black;
    border-right: solid 5px;
    border-color: brown;
    width: 100%;
   }


.nav-link{
    color: rgb(231, 24, 24);
}
.nav-link:hover{
    color: rgb(0, 0, 0);
}
.border-dotted{
    border: dashed 1px black;
    color: rgba(161, 162, 162, 0.767);
    
}